<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>SectionTitle</key>
		<string>架构</string>
		<key>SectionData</key>
		<array>
			<dict>
				<key>title</key>
				<string>架构设计</string>
				<key>content</key>
				<string>low_basic_basic</string>
			</dict>
			<dict>
				<key>title</key>
				<string>路由方案</string>
				<key>content</key>
				<string>low_basic_property</string>
			</dict>
			<dict>
				<key>title</key>
				<string>MGJ路由</string>
				<key>content</key>
				<string>low_basic_property</string>
			</dict>
			<dict>
				<key>title</key>
				<string>MVVM</string>
				<key>content</key>
				<string>low_basic_property</string>
			</dict>
			<dict>
				<key>title</key>
				<string>RxSwift</string>
				<key>content</key>
				<string>low_basic_property</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>SectionTitle</key>
		<string>新技术</string>
		<key>SectionData</key>
		<array>
			<dict>
				<key>title</key>
				<string>Weex</string>
				<key>content</key>
				<string>low_runtime_isa</string>
			</dict>
			<dict>
				<key>title</key>
				<string>微信小程序</string>
				<key>content</key>
				<string>low_runtime_isa</string>
			</dict>
			<dict>
				<key>title</key>
				<string>自动化测试</string>
				<key>content</key>
				<string>low_runtime_isa</string>
			</dict>
			<dict>
				<key>title</key>
				<string>AI</string>
				<key>content</key>
				<string>low_runtime_isa</string>
			</dict>
			<dict>
				<key>title</key>
				<string>人脸识别</string>
				<key>content</key>
				<string>low_runtime_isa</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Python</string>
				<key>content</key>
				<string>low_runtime_isa</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>SectionTitle</key>
		<string>性能优化</string>
		<key>SectionData</key>
		<array>
			<dict>
				<key>title</key>
				<string>性能优化方向</string>
				<key>content</key>
				<string>low_runtime_isa</string>
			</dict>
			<dict>
				<key>title</key>
				<string>内存检测</string>
				<key>content</key>
				<string>low_runtime_isa</string>
			</dict>
			<dict>
				<key>title</key>
				<string>UITableView</string>
				<key>content</key>
				<string>low_runtime_isa</string>
			</dict>
			<dict>
				<key>title</key>
				<string>电量</string>
				<key>content</key>
				<string>low_runtime_isa</string>
			</dict>
			<dict>
				<key>title</key>
				<string>检测工具</string>
				<key>content</key>
				<string>low_runtime_isa</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>SectionTitle</key>
		<string>应用</string>
		<key>SectionData</key>
		<array>
			<dict>
				<key>title</key>
				<string>Runtime空白页</string>
				<key>content</key>
				<string>low_runtime_isa</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Runtime检测UI卡顿</string>
				<key>content</key>
				<string>low_runtime_isa</string>
			</dict>
			<dict>
				<key>title</key>
				<string>自定义KVO</string>
				<key>content</key>
				<string>low_runtime_isa</string>
			</dict>
			<dict>
				<key>title</key>
				<string>自定义消息中心</string>
				<key>content</key>
				<string>low_runtime_isa</string>
			</dict>
			<dict>
				<key>title</key>
				<string>AOP</string>
				<key>content</key>
				<string>low_runtime_isa</string>
			</dict>
			<dict>
				<key>title</key>
				<string>埋点</string>
				<key>content</key>
				<string>low_runtime_isa</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>SectionTitle</key>
		<string>其他</string>
		<key>SectionData</key>
		<array>
			<dict>
				<key>title</key>
				<string>自我介绍</string>
				<key>content</key>
				<string>low_runtime_isa</string>
			</dict>
			<dict>
				<key>title</key>
				<string>开发经验</string>
				<key>content</key>
				<string>low_runtime_isa</string>
			</dict>
			<dict>
				<key>title</key>
				<string>发展规划</string>
				<key>content</key>
				<string>low_runtime_isa</string>
			</dict>
			<dict>
				<key>title</key>
				<string>遇到的问题</string>
				<key>content</key>
				<string>low_runtime_isa</string>
			</dict>
			<dict>
				<key>title</key>
				<string>总结</string>
				<key>content</key>
				<string>low_runtime_isa</string>
			</dict>
		</array>
	</dict>
	
</array>
</plist>
