<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>SectionTitle</key>
		<string>基础</string>
		<key>SectionData</key>
		<array>
			<dict>
				<key>title</key>
				<string>基础</string>
				<key>content</key>
				<string>low_basic_basic</string>
			</dict>
			<dict>
				<key>title</key>
				<string>UIView与UILayer</string>
				<key>content</key>
				<string>low_basic_property</string>
			</dict>
			<dict>
				<key>title</key>
				<string>UIView点击事件</string>
				<key>content</key>
				<string>low_basic_property</string>
			</dict>
			<dict>
				<key>title</key>
				<string>VC生命周期</string>
				<key>content</key>
				<string>low_basic_property</string>
			</dict>
			<dict>
				<key>title</key>
				<string>UIAnimation</string>
				<key>content</key>
				<string>low_basic_property</string>
			</dict>
			<dict>
				<key>title</key>
				<string>推送原理</string>
				<key>content</key>
				<string>low_basic_property</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>SectionTitle</key>
		<string>属性</string>
		<key>SectionData</key>
		<array>
			<dict>
				<key>title</key>
				<string>属性类型</string>
				<key>content</key>
				<string>low_runtime_isa</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Weak</string>
				<key>content</key>
				<string>low_runtime_isa</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>SectionTitle</key>
		<string>内存管理</string>
		<key>SectionData</key>
		<array>
			<dict>
				<key>title</key>
				<string>ARC优势</string>
				<key>content</key>
				<string>low_runtime_isa</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Autorelease Pool</string>
				<key>content</key>
				<string>low_runtime_isa</string>
			</dict>
			<dict>
				<key>title</key>
				<string>循环引用</string>
				<key>content</key>
				<string>low_runtime_isa</string>
			</dict>
			<dict>
				<key>title</key>
				<string>内存泄漏</string>
				<key>content</key>
				<string>low_runtime_isa</string>
			</dict>
			<dict>
				<key>title</key>
				<string>内存检测工具</string>
				<key>content</key>
				<string>low_runtime_isa</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>SectionTitle</key>
		<string>Runtime</string>
		<key>SectionData</key>
		<array>
			<dict>
				<key>title</key>
				<string>对象isa</string>
				<key>content</key>
				<string>low_runtime_isa</string>
			</dict>
			<dict>
				<key>title</key>
				<string>消息转发</string>
				<key>content</key>
				<string>low_runtime_isa</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Swizzling</string>
				<key>content</key>
				<string>low_runtime_isa</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>SectionTitle</key>
		<string>RunLoop</string>
		<key>SectionData</key>
		<array>
			<dict>
				<key>title</key>
				<string>RunLoop基础</string>
				<key>content</key>
				<string>Low_RunLoop_Basic</string>
			</dict>
			<dict>
				<key>title</key>
				<string>防止线程休眠</string>
				<key>content</key>
				<string>low_runtime_isa</string>
			</dict>
			<dict>
				<key>title</key>
				<string>ScrollView</string>
				<key>content</key>
				<string>low_runtime_isa</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>SectionTitle</key>
		<string>KVC</string>
		<key>SectionData</key>
		<array>
			<dict>
				<key>title</key>
				<string>KVC</string>
				<key>content</key>
				<string>low_runtime_isa</string>
			</dict>
			<dict>
				<key>title</key>
				<string>⚠️KVO</string>
				<key>content</key>
				<string>low_runtime_isa</string>
			</dict>
			<dict>
				<key>title</key>
				<string>⚠️KVO实现原理</string>
				<key>content</key>
				<string>low_runtime_isa</string>
			</dict>
			<dict>
				<key>title</key>
				<string>自己实现KVO</string>
				<key>content</key>
				<string>low_runtime_isa</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>SectionTitle</key>
		<string>多线程</string>
		<key>SectionData</key>
		<array>
			<dict>
				<key>title</key>
				<string>多线程概念</string>
				<key>content</key>
				<string>low_runtime_isa</string>
			</dict>
			<dict>
				<key>title</key>
				<string>GCD</string>
				<key>content</key>
				<string>low_runtime_isa</string>
			</dict>
			<dict>
				<key>title</key>
				<string>NSOperationQueue</string>
				<key>content</key>
				<string>low_runtime_isa</string>
			</dict>
			<dict>
				<key>title</key>
				<string>线程安全</string>
				<key>content</key>
				<string>low_runtime_isa</string>
			</dict>
			<dict>
				<key>title</key>
				<string>多线程通信</string>
				<key>content</key>
				<string>low_runtime_isa</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>SectionTitle</key>
		<string>数据持久化</string>
		<key>SectionData</key>
		<array>
			<dict>
				<key>title</key>
				<string>基本方案</string>
				<key>content</key>
				<string>low_runtime_isa</string>
			</dict>
			<dict>
				<key>title</key>
				<string>缓存方案</string>
				<key>content</key>
				<string>low_runtime_isa</string>
			</dict>
			<dict>
				<key>title</key>
				<string>KVC自动缓存</string>
				<key>content</key>
				<string>low_runtime_isa</string>
			</dict>
			<dict>
				<key>title</key>
				<string>FMDB原理</string>
				<key>content</key>
				<string>low_runtime_isa</string>
			</dict>
			<dict>
				<key>title</key>
				<string>FMDB应用</string>
				<key>content</key>
				<string>low_runtime_isa</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Realm</string>
				<key>content</key>
				<string>low_runtime_isa</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
