<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>SectionTitle</key>
		<string>Swift</string>
		<key>SectionData</key>
		<array>
			<dict>
				<key>title</key>
				<string>Swift</string>
				<key>content</key>
				<string>low_basic_basic</string>
			</dict>
			<dict>
				<key>title</key>
				<string>各版本特性</string>
				<key>content</key>
				<string>low_basic_property</string>
			</dict>
			<dict>
				<key>title</key>
				<string>混编</string>
				<key>content</key>
				<string>low_basic_property</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>SectionTitle</key>
		<string>设计模式</string>
		<key>SectionData</key>
		<array>
			<dict>
				<key>title</key>
				<string>设计思想</string>
				<key>content</key>
				<string>low_runtime_isa</string>
			</dict>
			<dict>
				<key>title</key>
				<string>系统设计模式</string>
				<key>content</key>
				<string>low_runtime_isa</string>
			</dict>
			<dict>
				<key>title</key>
				<string>单例模式</string>
				<key>content</key>
				<string>low_runtime_isa</string>
			</dict>
			<dict>
				<key>title</key>
				<string>响应链</string>
				<key>content</key>
				<string>low_runtime_isa</string>
			</dict>
			<dict>
				<key>title</key>
				<string>代理模式</string>
				<key>content</key>
				<string>low_runtime_isa</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>SectionTitle</key>
		<string>网络</string>
		<key>SectionData</key>
		<array>
			<dict>
				<key>title</key>
				<string>http</string>
				<key>content</key>
				<string>low_runtime_isa</string>
			</dict>
			<dict>
				<key>title</key>
				<string>https</string>
				<key>content</key>
				<string>low_runtime_isa</string>
			</dict>
			<dict>
				<key>title</key>
				<string>socket</string>
				<key>content</key>
				<string>low_runtime_isa</string>
			</dict>
			<dict>
				<key>title</key>
				<string>抓包</string>
				<key>content</key>
				<string>low_runtime_isa</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>SectionTitle</key>
		<string>第三方库</string>
		<key>SectionData</key>
		<array>
			<dict>
				<key>title</key>
				<string>下拉刷新</string>
				<key>content</key>
				<string>low_runtime_isa</string>
			</dict>
			<dict>
				<key>title</key>
				<string>SDWebImage</string>
				<key>content</key>
				<string>low_runtime_isa</string>
			</dict>
			<dict>
				<key>title</key>
				<string>AFNetWorking</string>
				<key>content</key>
				<string>low_runtime_isa</string>
			</dict>
			<dict>
				<key>title</key>
				<string>RxSwift原理</string>
				<key>content</key>
				<string>low_runtime_isa</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Weex原理</string>
				<key>content</key>
				<string>low_runtime_isa</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
